---
import Layout from '../layouts/Layout.astro'
import Diff from '../components/Diff'
import { Section, Heading, Flex, Link } from '@radix-ui/themes'
---

<Layout title="Zhlint Playground">
  <Section pt="0" pb="8">
    <Flex justify="between" align="center">
      <Heading as="h1"> Zhlint Playground </Heading>
      <Link
        href="https://github.com/3fuyang/zh-lint-demo"
        target="_blank"
        rel="noreferrer noopener nofollow"
      >
        GitHub
      </Link>
    </Flex>
  </Section>
  <Section pt="0" pb="8">
    This is a playground for
    <Link
      href="https://github.com/Jinjiang/zhlint"
      target="_blank"
      rel="noreferrer nofollow noopener"
    >
      zhlint
    </Link>.
  </Section>
  <Diff client:idle />
</Layout>
