---
import { Theme } from '@radix-ui/themes'
import { ThemeProvider } from 'next-themes'

import '@radix-ui/themes/styles.css'
import '../base.css'

export interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="An intuitive playground for zhlint, a Chinese markdown content formatter."
    />
    <title>{title}</title>
  </head>
  <body class="px-6 py-4">
    <ThemeProvider attribute="class">
      <Theme client:idle>
        <slot />
      </Theme>
    </ThemeProvider>
  </body>
</html>
